<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ISLApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ISLApp.Properties.Settings.Database" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DB\Database.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <ISLApp.Properties.Settings>
            <setting name="Secret" serializeAs="String">
                <value>5dFCxDESZp+t-M=p&amp;Kb8$FM+96GPzN</value>
            </setting>
            <setting name="Salt" serializeAs="String">
                <value>5DYq$DHJhaG#N4MSC!eUbN9CREPRqF?7LjjPRWmr</value>
            </setting>
        </ISLApp.Properties.Settings>
    </applicationSettings>
</configuration>